<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="opl.launchType">
    <stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=My assignmentsR\Run Con\figu\rationsrCon\figu\ration3"/>
    <stringAttribute key="opl.debugModel.ATTR_PROJECT" value="My assignments"/>
    <stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="Configuration3"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/My assignments"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
</launchConfiguration>
